<div class="cart-checkout">
{% for total in totals %}
<p>
<span class="cart-checkout-span-01">{{ total.title }}：</span>
<span class="cart-checkout-span-02">{{ total.text }}</span>
</p>
{% endfor %}
</div>