{{ header }}
<style>
    #footer{position: fixed;width: 100%}
</style>
<div id="page_wapper">
  <div class="products-img"></div>
<div class="warp member-bg member-bg-h" >
    <div class="password">
      <div class="frames ">
        <div class="title"><span></span>
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>忘記密碼
        </div>
        <div class="enter">
          <div class="password-div">
            電子信箱
            <input type="text" class="login-input" placeholder="請輸入您的電子信箱"/>
          </div>
          <div class="password-btn" style="border-bottom: none">
            <!-- <input type="button" class="password-btn-a" value="將密碼送到我的信箱 "/> -->
            <button class="password-btn-a">將密碼送到我的信箱</button>       
          </div>
        </div>  
      </div>
    </div>
</div>   <!-- warp member-bg --> 
</div>
<script type="text/javascript"><!--
$('#swiper').swiper({
    effect: 'fade',
    autoplay: 3000,
    autoplayDisableOnInteraction: false
});
--></script>
{{ footer }}