{{ header }}
<div class="warp">
    <div class="contact">
      <div class="title">
        <img src="images/contact-title.png" alt="" class="fadeInUp wow" data-wow-delay=".1s">
        <p class="new-title"><img src="images/contact-img-one.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
      </div>
      <div class="new-slide">
        <div class="slide-block">
          <img src="images/slide.png" alt="" class="scroll-top slide-pc fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-top">
          <p>
            <img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".7s">
          </p>          
        </div>
      </div>
      <!--  -->
      <div class="contact-container">
        <div class="contact-block">
          <div class="contact-img fadeInLeft wow" data-wow-delay=".9s">
            <img src="images/contact-img.png" alt="">
          </div>
          <div class="contact-txt">
            <p class="contact-txt-p1 fadeInRight wow" data-wow-delay=".9s">辦公室/公司用</p>
            <p class="contact-txt-p2 fadeInRight wow" data-wow-delay="1.1s">餐廳/營業用</p>
            <p class="contact-txt-p3 fadeInRight wow" data-wow-delay="1.3s">團體/個人購買</p>
          </div>
          <div class="contact-circle fadeInRight wow" data-wow-delay=".1s">
            <img src="images/circle.png" alt="">
          </div>
          <div class="contact-txt-p fadeInUp wow" data-wow-delay=".2s">           
            <p>辦公室、營業用、甚至是團購等各種需求‧</br>
            針對各式不同的需求，我們都能夠提共合適的咖啡原豆，價格與建議甚至是機器</br>
            請填寫下列表格，我們將有專人與您聯絡。</p>           
          </div>
        </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-contact" class="form-horizontal form-bordered">
          <div class="contact-from clearfix fadeInUp wow" data-wow-delay=".3s">
            <div class="contact-div">
              <span>您的姓名/Name</span>
              <input type="text" name="name" class="contact-div-input" required>
            </div>
            <div class="contact-div">
              <span>聯絡電話/Phone</span>
              <input type="text" name="mobile" class="contact-div-input">
            </div>
            <div class="contact-div">
              <span>聯絡信箱/E-mail</span>
              <input type="text" name="email" class="contact-div-input">
            </div>
            <div class="contact-div">
              <span class="contact-div-span">需求簡述/Message</span>
              <textarea name="description" class="contact-div-textarea" required></textarea>
            </div>
            <div class="contact-btn">
              <input type="reset" class="contact-div-input" value="清除全部">
              <input type="submit" class="contact-div-input" value="送出訊息">
            </div>
          </div>
        </form>
      </div>
      <!--  -->
      <div class="new-slide-bottom clearfix">
        <p><img src="images/about-slide-before.png" alt="" class="fadeInUp wow" data-wow-delay=".1s"></p>
        <p><img src="images/contact-img-one.png" alt="" class="fadeInUp wow" data-wow-delay=".3s"></p>
        <p>
          <img src="images/i-slide-bottom.png" alt="" class="slide-pc scroll-bottom fadeInUp wow" data-wow-delay=".5s">
          <img src="images/i-slide.svg" alt="" class="slide-mobile scroll-bottom">
        </p>
      </div>
    </div>
  </div><!-- warp -->

<script type="text/javascript"> 
$(function(){ 
  $(".scroll-top").click(function(){    
    $('html, body').animate({scrollTop: $(".contact-container").offset().top -130}, 900);
    return false;
  });
   $(".scroll-bottom").click(function(){
    $("html,body").animate({scrollTop:0},900);
    return false;
  });   
});
</script>
{{ footer }}