<!-- Custom Script -->
<script src="view/theme/{{ theme }}/javascript/wow.min.js"></script>
<script>new WOW().init();</script> 
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>
</html>