{{ header }}
<div class="products-img products-img-item"></div>

<div class="cart-warp">
    <div class="cart-details">
    {{ checkout_cart }}
    {{ checkout_total }}
    {{ payment_method }}
	</div>
</div>

