{% if shipping_methods %}
<div class="well">
  <p>請選擇配送方式</p>
  <div class="form-horizontal">
  		{% for key,shipping_method_module in shipping_methods %}
  			{% for k,shipping_quote in shipping_method_module.quote %}
  			<div class="radio">
  				<label>
  					{% if shipping_quote.code == shipping_method.code %}
  					<input type="radio" name="shipping_method" value="{{ shipping_quote.code }}" checked="checked" />
					{% else %}
						<input type="radio" name="shipping_method" value="{{ shipping_quote.code }}" />
					{% endif %}
					{{ shipping_quote.title }} - {{ shipping_quote.text }}
				</label>
			</div>
		    {% endfor %}
  		{% endfor %}
  	{% else %}
  </div>
</div>
{% endif %}