{{ header }}
<div id="banner">
    <div class="swiper-viewport">
        <div id="swiper" class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in images %}
                    <div class="swiper-slide">
                        <img src="{{ image }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1 class="page_header">- 交通資訊 -<span>Traffic Information</span></h1>
</div>
<div id="page_wapper">
<div id="location">
	<div id="address">
		<p>51052 員林市員林大道5段333號</p>
		<p>Tel:04-839 2233</p>
	</div>
</div>
<div id="google-map" style="height:600px;"></div>
  <div class="container">
    <ul class="nav nav-pills">
        <li class="active"><a a data-toggle="tab" href="#cart">自行開車</a></li>
        <li><a data-toggle="tab" href="#bus">大眾運輸</a></li>
    </ul>
    <div class="tab-content">
        <div id="cart" class="tab-pane fade in active">
            <ul>
                <li>路線一：<br>沿國道一號，於207-埔鹽系統出口下交流道。走台76線，朝員林/草屯前進。在19-埔心出口下交流道，靠右行駛柳橋西路/144縣道，於員鹿路一段向左轉，接著在員林大道二段左轉。直行到員林大道五段，即可到達。</li>
                <li>路線二：<br>沿國道三號，下196-彰化系統出口，併入國道一號往彰化方向前進。於207-埔鹽系統出口下交流道。走台76線，朝員林/草屯前進。在19-埔心出口下交流道，靠右行駛柳橋西路/144縣道，於瑤鳳路二段266巷向左轉，接著源潭路/55鄉道向右轉。於南潭路/76鄉道向左轉，接著於員林大道六段向左轉，直行即可抵達。</li>
            </ul>
        </div>
        <div id="bus" class="tab-pane fade">
            <ul>
                <li>(1)搭乘高鐵/台鐵<br>
                    於台中高鐵站轉搭台鐵區間車《新烏日》到《員林》火車站，搭乘計程車，車程約10分即可到達。</li>
                <li>(2)搭乘客運<br>
                    路線一：搭乘員林客運6704路線至《明德新村》下車，步行約900公尺可抵達。<br>
                    路線二：搭乘彰化客運6912路線至《三橋里》下車，步行約750公尺可抵達。</li>
            </ul>
        </div>
    </div>
 </div>
 </div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMroMqXfLI29utPuK3n6if-EujZBcnRW8"></script>
<script type="text/javascript">
function initialize() {
  var styleArray = [{
            featureType: 'all',
            elementType: 'all',
            stylers: [
            { hue: '#a19069' },
            { Saturation: '-75' }
            ]
        }, {
            featureType: 'water',
            elementType: 'geometry.fill',
            stylers: [
            { visibility: 'on' },
            { hue: '#00ffdd' },
            { Saturation: '-50' }
            ]
        }];
  var mapOptions = {
      center: new google.maps.LatLng(23.969654, 120.563585),
      zoom: 16,
      styles: styleArray,
      mapTypeControl : false
      };
  var mapElement = document.getElementById('google-map');
  var map = new google.maps.Map(mapElement, mapOptions);

  var officeLocation = new google.maps.LatLng(23.969654, 120.563585);
  addMarker(map,officeLocation,'天韻 Motel','<img src="images/logo.png" style="width:100%;" />天韻MOTEL是由天韻集團，一個輝煌高尚的精品汽車旅館集團，精心打造的同名汽車旅館。在璀璨的都會、在富含文化底蘊的城鎮、在人流匆匆的城市，為旅人提供一個樂活舒適的休憩環境。','.google-map');
  setTimeout(function() {$(".google-map").trigger('click');},500);
}
google.maps.event.addDomListener(window, 'load', initialize);
var Markers = [];
var infoWindows = [];
var addMarker = function(map,location,title,content,element) {
  var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: title,
        animation: google.maps.Animation.DROP
    });
  var contentString = '<div id="mapContent">'+'<h1 id="firstHeading" class="firstHeading">'+title+'</h1><div class="mapContent">'+content+'</div></div>';
  var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth:240
    });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
  infoWindows.push(infowindow);
  Markers.push(marker);
}
</script>
{{ footer }}